@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  scroll-behavior: smooth;
} */
@font-face {
  font-family: 'FontMano';
  src: url('./assets/fonts/FontMano.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
